 
<!--CSS-->

 <!-- PASSIONATE -->
      <div id="passionate" class="horizontalsection text-light parallax-section">
      <div class="horizontalinner wrapper align-center">
        <h2> build cool things with cool people       </h2>
        <div class="spacer spacer-small"></div>
        <p>
          <a href="./posts/new" class="scroll-to sr-button sr-button4 medium-button">Launch Idea</a>
        </p>
      </div>
    </div>


<script>
<link rel="stylesheet" href="assets/gridGallery.css" /> </script>
<div id="grid">
         <% @posts.each do |post| %>
        <div class="box" data-url="posts/<%=post.id%>" data-category="Illustrations">
 
            <%=image_tag post.logoimage %>
           
            <div data-image="./assets/parallax-bg1.jpg" ></div>
            
            <div class="thumbnail-caption">
                  CAPTION OF THE IMAGE
            </div>

            <div class="lightbox-text">
                  TEXT OF THE LIGHTBOX
            </div>
        </div>
        <%end%>


</div>

<!-- SCRIPTS FOR THE PLUGIN -->

<script src="assets/jquery-1.9.1.min.js"></script>
<script src="assets/rotate-patch.js"></script>
<script src="assets/gridGallery.min.js"></script>
<script>
  
    $(function(){
        //INITIALIZE THE PLUGIN
        $('#grid').grid();
    });    
       
</script>