 <!-- PASSIONATE -->
			<div id="passionate" class="horizontalsection text-light parallax-section2">
			<div class="horizontalinner wrapper align-center">
			  <p><h2> Ready To Launch	</h2></p>
				<div class="spacer spacer-small"></div>
				
			</div>
		</div>

<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Post %></h1>
</div>
<%= render :partial => 'form' %>

